* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: "Outfit", serif;

}

body {
    font-family: Arial, sans-serif; 
     
}

.container {
    display: flex; 
    flex-wrap: wrap; 
    margin: 10px; 
}

.section {
    border: 3px solid black; 
    padding: 20px; 
    margin: 10px; 
    position: relative; 
    background-color: #856363;
}



#chicken .title {
    background-color: lightgray; 
}

#beef .title {
    background-color: #ff3333; 
}

#sushi .title {
    background-color: #ffff4d; 
}


.title {
    position: absolute; 
    top: 0px; 
    right: 0px; 
    padding: 5px; 
    border: 3px solid black;
    border-right: 0px;
    border-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
}


@media (min-width: 992px) {
    .section {
        width: calc(33.33% - 20px); 
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: calc(50% - 20px); 
    }
    
    #sushi { 
        width: calc(100% - 20px); 
        margin-top: 10px; 
    }
}


@media (max-width: 767px) {
    .section {
        width: calc(100% - 20px); 
        margin-top: 10px; 
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: calc(50% - 20px); 
    }
    
    #sushi { 
        width: calc(100% - 20px); 
        margin-top: 10px; 
    }
}


@media (max-width: 767px) {
    .section {
        width: calc(100% - 20px); 
        margin-top: 10px; 
    }
}

p
{
    margin-top: 14px;

}

h1
{
    text-align: center;
}
